# This is backend config file, after recieving this file, please do the following.
# 1. Change This file name to config.env
# 2. Replace SUPABASE_SERVICE_KEY and JWT_SECRET with data given by your examiner
# 3. (Optional) Change the development port in case the current port is in use

PORT=5000
NODE_ENV=development

# Supabase Configuration
SUPABASE_URL=https://jeavavljfbrlvzxztwhq.supabase.co
SUPABASE_SERVICE_KEY= SUPABASE_SERVICE_KEY
JWT_SECRET = JWT_SECRET
JWT_EXPIRE = 30d
JWT_COOKIE_EXPIRE = 30